* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  background: rgb(46, 164, 79);
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.left-section {
  width: 120px;
}

@media (max-width: 800px) {
  .left-section {
    width: unset;
  }
}

.amazon-log {
  width: 100px;
  height: 40px;
}

.middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.order-summary{
  max-width: 500px;
  margin-top: 60px;
  display: flex;
}

.order{
  display: flex;
  align-items: center;
  border: 1px solid green;
  border-radius: 7px;
}

.order-details{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right:10px ;
}

.remove-btn{
  background-color:  rgb(46, 164, 79);
  border: none;
  padding: 10px ;
  color: white;
  border-radius: 6px;
  font-size: 15px;
}