nav {
  display: flex;
  justify-content: space-between;
  background: rgb(46, 164, 79);
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}
.amazon-log {
  width: 100px;
  height: 40px;
}
.download-btn {
  background-color: rgb(46, 164, 79);
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .left-section {
    width: unset;
  }
}

.middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-button {
  background-color: rgb(46, 164, 79);
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}
.right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.cart-icon {
  position: relative;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
}

.cart-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.cart-icon img {
  width: 40px; /* adjust as needed */
  height: 32px;
}

.cart-icon .js-cart-quantity-tag {
  position: absolute;
  top: -6px;         /* slightly above icon */
  right: -6px;       /* slightly to the right */
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  min-width: 18px;
  text-align: center;
}